body {
      background: #dde5ec;
      font-family: Arial, sans-serif;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .neumorphic {
      background: #dde5ec;
      border-radius: 20px;
      box-shadow: 10px 10px 30px #b8c0c8, -10px -10px 20px #ffffff;
      border: none;
      padding: 10px;
      margin: 10px 0;
    }

    .neumorphic-input {
      width: 80%;
      padding: 10px;
    }

    .neumorphic-button {
      cursor: pointer;
      width: 50%;
    }

    .neumorphic-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      width: 300px;
      text-align: center;
    }
